[Unit]
Description=Datafeed Monitor Service

[Service]
Type=simple
User=austengary
WorkingDirectory=/home/austengary/Desktop/Dev/System_Code/Testing/IB_API
ExecStart=/bin/bash /home/austengary/Desktop/Dev/System_Code/Server_Setup/vm_config/services/autostart/datafeed_monitor_service/main_datafeed_monitor.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target